# Ignore paths that contain user-generated content.
.idea/AUF.iml
.idea/copyright/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/deployment.xml
.idea/workspace.xml___jb_tmp___
