.form-type-managed-file {
  .pseudo-link {
    @include inline-block();
    margin-bottom: $input-padding;
  }
  .pseudo-file {
    float: left;
    position: relative;
    line-height: $elem-height - 2px;
    height: $elem-height;
    padding: 0 5px;
    min-width: 150px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 2px;
    white-space: nowrap;
    background: #fff;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: $input-padding;
      height: 100%;
      background: #fff;
    }
  }
  .upload-preview {
    display: block;
    margin-bottom: 10px;
  }
  .file {
    @include inline-block(middle);
    margin-right: 10px;
    img {
      position: relative;
      vertical-align: middle;
      top: -1px;
    }
  }
  select {
    display: block;
  }
}
